:root {
  --green: #44FFA1;
  --purple900:#24053E;
  --purple500:#584D62;
  --purple100:#FCF8FF;
  --white:#FFFFFF;
}

@font-face {
  font-family: 'Fraunces';
  src: url('fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf')
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/manrope/Manrope-VariableFont_wght.ttf')
}



/*





GLOBAL STYLES





*/


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.container {
  width: 95%;
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-family: "Fraunces", serif;
  font-weight: 600;
}

p, a {
  line-height: 1.6;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
}


/* 





Header






*/




header {
  background-color: var(--purple900);
  height: 700px;
  position: relative;
  color: var(--white);
  background-image: url('images/bg-pattern-1.svg'), url('images/bg-pattern-2.svg');
  background-repeat: no-repeat;
  background-position: -5vw 11vh, 91vw 41vh;
}

.custom-shape-divider-top {
  position: absolute;
  top: 99.5%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(278% + 1.3px);
  height: 157px;
  z-index: 1;
}

.custom-shape-divider-top .shape-fill {
  fill: var(--purple900);
}

.nav {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding-top: 50px;
  margin: 0 auto;
}

.nav > a:last-child {
  color: var(--white);
  text-decoration: underline 3px var(--green);
  text-underline-offset: 8px;
  transition: color .2s ease-in;
}
.nav > a:last-child:hover {
  color: var(--green);
  cursor: pointer;
}




.header-text {
  margin-top: 4rem;
}

.header-text h1 {
  font-size: 80px;
  width: 550px;
  text-align: center;
  margin: 0 auto;
}

.h1-text-underline {
  text-decoration: underline 4px;
  text-decoration-color: var(--green);
  text-underline-offset: 10px;
}

.header-btn {
  margin: 2rem auto;
  display: block;
  background-color: var(--green);
  color: #000000;
  border: none;
  height: 61px;
  width: 161px;
  font-size: 18px;
  font-weight: bold;
  transition: all .2s ease-in;
}

.header-btn:hover {
  background-color: var(--purple900);
  border: var(--green) 2px solid;
  color: var(--green);
  cursor: pointer;
}

.header-phone {
  display: block;
  width: 746px;
  position: absolute;
  top: 78%;
  left: calc((100vw - 746px)/2);
  z-index: 5;
  /* margin: 0 auto; */
}

.circle-bg {
  position: absolute;
  top: 0;
  left: 0;
}



/*






features





*/




.features {
  margin: 0 0 50px 0;
  padding-top: 380px;
  position: relative;
  background-color: var(--purple100);
}

.items {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item > p {
  font-family: 'Fraunces';
  font-size: 28px;
  border: var(--purple900) solid 1px;
  width: 56px;
  height: 56px;
  text-align: center;
  border-radius: 50%;
  padding-top: 5px;
  margin-bottom: 56px;
  flex-shrink: 0;
  color: var(--purple900);
}

.item h2 {
  font-weight: 600;
  margin-bottom: 28px;
  font-size: 26px;
  color: var(--purple900);
}

.content p {
  font-size: 18px;
  line-height: 190%;
  max-width: 352px;
  color: var(--purple900);
}


.custom-shape-divider-features {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-features svg {
  position: relative;
  display: block;
  width: calc(278% + 1.3px);
  height: 157px;
}

.custom-shape-divider-features .shape-fill {
  fill: var(--purple100);
}



/*






founder





*/



.fouder {
  margin: 450px auto 0px auto;
}

.fouder-content {
  display: flex;
  align-items: flex-end;
  width: 1200px;
  position: relative;
  margin: 0 auto;
}

.founder-image {
  width: 477px;
  height: 477px;
  position: absolute;
  top: -42%;
  left: 52px;
  z-index: -1;
}

.founder-card {
  background-color: var(--purple900);
  width: 745px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 74px;
  margin-left: 38%;
}

.founder-card h2{
  color: var(--white);
  font-family: 'Fraunces';
  font-size: 56px;
}

.founder-card p {
  color: var(--white);
  line-height: 180%;
  width: 602px;
  /* font-weight: 100; */
}

.founder-btn {
  display: block;
  background-color: var(--green);
  color: #000000;
  border: none;
  height: 61px;
  width: 207px;
  font-size: 18px;
  font-weight: bold;
  transition: all .2s ease-in;
}


.founder-btn:hover {
  background-color: var(--purple900);
  border: var(--green) 2px solid;
  color: var(--green);
  cursor: pointer;
}

.circle-3 {
  position: absolute;
  top: 70%;
  left: 79%;
}



/*






footer





*/


footer {
  text-align: center;
  margin-bottom: 112px;
  margin-top: 160px;
}

.footer-media {
  width: 100px;
}

.footer-media {
  width: 116px;
  margin: 65px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

/*




Media query





*/

@media screen and (max-width: 1280px) {
  /* Media query for section responsivness */
  .fouder {
    margin-top: 333px;
  }
  .fouder-content {
    width: 1000px;
  }
  
  .founder-image {
    width: 377px;
    height: 377px;
    top: -36%;
    left: 59px;
  }

  .founder-card {
    width: 700px;
    height: 390px;
    display: flex;
    padding-left: 74px;
    margin-left: 38%;
  }

  .founder-card h2{
    color: var(--white);
    font-family: 'Fraunces';
    font-size: 48px;
  }

  .founder-card p {
    color: var(--white);
    line-height: 180%;
    width: 486px;
    text-align: justify;
    /* font-weight: 100; */
  }
}



@media screen and (max-width: 1180px) {

  header {
    height: 620px;
  }
  .header-phone {
    display: block;
    width: 60%;
    position: absolute;
    top: 82%;
    left: calc((100vw - 60%)/2);
    z-index: 5;
  }

  header {
    background-position: -18vw 11vh, 91vw 41vh;
  }
}

@media screen and (max-width: 1040px) {
  /* Media query for section responsivness */

  .fouder-content {
    width: 95%;
  }
  
  .founder-image {
    width: 280px;
    height: 280px;
    top: -37%;
    left: 130px;
  }

  .founder-card {
    width: 504px;
    height: 390px;
    display: flex;
    padding-left: 50px;
    margin-left: 38%;
  }

  .founder-card h2{
    color: var(--white);
    font-family: 'Fraunces';
    font-size: 48px;
  }

  .founder-card p {
    color: var(--white);
    line-height: 180%;
    width: 408px;
    text-align: justify;
    /* font-weight: 100; */
  }
  .circle-3 {
    position: absolute;
    top: 74%;
    left: 69%;
  }

}


@media screen and (max-width: 890px) {
  /* Media for founder part only */

  .founder-image {
    top: -46%;
    left: 5px;
  }

  .founder-card {
    padding-left: 50px;
    margin-left: 22%;
  }

  .founder-card p {
    color: var(--white);
    line-height: 180%;
    width: 408px;
    text-align: justify;
    /* font-weight: 100; */
  }
  .circle-3 {
    position: absolute;
    top: 72%;
    left: 56%;
  }
}


@media screen and (max-width: 750px) {

  .header-phone {
    width: 480px;
    left: calc((100vw - 480px)/2);
  }
  .header-text h1 {
    font-size: 80px;
    width: 550px;
    text-align: center;
    margin: 0 auto;
  }

  header {
    background-position: -18vw 11vh, 91vw 41vh;
  }
  

  /* 
  
  
  media query for features
  
  
  */


  .features {
    padding-top: 250px;
  }
  .items {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
  
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  
  .item h2 {
    margin-bottom: 32px;
  }

  .content {
    margin-left: 56px;
  }

  .content p {
    font-size: 18px;
    line-height: 190%;
    width: 100%;
    max-width: 600px;
    margin-bottom: 32px;
  }

}

@media screen and (max-width: 695px) {
  /* Media for founder part only */

  .fouder {
    margin-top: 400px;
  }
  .founder-image {
    top: -55%;
    left: 0px;
  }

  .founder-card {
    padding-left: 50px;
    margin-left: 12%;
  }

  .founder-card p {
    color: var(--white);
    line-height: 180%;
    width: 408px;
    text-align: justify;
    /* font-weight: 100; */
  }
  .circle-3 {
    position: absolute;
    top: 72%;
    left: 56%;
  }
}

@media screen and (max-width: 605px) {
  /* Media for founder part only */

  .fouder {
    width: 100%;
  }
  .founder-image {
    top: -58%;
    left: 6.5%;
  }

  .founder-card {
    width: 100%;
    max-width: 390px;
    height: 393px;
    display: flex;
    padding-left: 10px;
    margin:0 auto;
    align-items: center;
  }

  .founder-card h2{
    color: var(--white);
    font-family: 'Fraunces';
    font-size: 32px;
  }

  .founder-card p {
    color: var(--white);
    line-height: 180%;
    width: 271px;
    text-align: center;
    font-size: 16px;
  }
  .circle-3 {
    display: none;
  }
}

@media screen and (max-width: 565px) {
  .header-text h1 {
    font-size: 68px;
    width: 485px;
    text-align: center;
    margin: 0 auto;
  }
  .nav {
    width: 100%;
    margin: 0 0 00;
  }
}

@media screen and (max-width: 500px) {
  /* media query for phone */

  header {
    height: 500px;
    background-image: none;
  }

  .header-phone {
    width: 90%;
    top: 85%;
    left: calc((100vw - 90%)/2);
  }

  .header-text h1 {
    font-size: 13vw;
    width: 100%;
  }
  .custom-shape-divider-top svg, .custom-shape-divider-features svg {
    height: 101px;
  }

  /* 
  
  
  media quety for features
  
  
  */

  .features {
    padding-top: 200px;
  }

  .items {
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content {
    margin-left: 0px;
  }

}

@media screen and (max-width: 383px) {

  header {
    height: 460px;
  }
  .header-text h1 {
    font-size: 45px;
    width: 100%;
  }

}


@media screen and (max-width: 345px) {
  /* media query for phone */

  header {
    height: 410px;
    background-image: none;
  }

  .header-phone {
    top: 90%;
  }

  .header-text h1 {
    font-size: 40px;
  }

}
